@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    width: 100%;
    display: grid;
    font-family: Shadowed Black;
    display: grid;
    grid-template-rows: 100px 100% 150px;
    grid-template-areas: 
        "nav"
        "section"
        "footer"
    ;
}

nav {
    grid-area: nav;
    width: 100%;
    position: fixed;
    z-index: 9998;
}

/* ? nav */

.conteiner {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #232323;
    justify-content: space-between;
    box-shadow: inset 3px 3px 3px grey, inset -2px -2px 3px grey, 2px 2px 10px grey, inset -2px -2px 3px grey;
    
}

.logo {
    display: flex;
    width: 80px;
    margin-left: 22px;
}

.logo img {
    width: 80px;
    height: 80px;
}

.conteiner .links{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 10%;
    text-align: center;
    transition: all .5s;
    
}

.conteiner .links li {
    display: none;
    line-height: 70px;
    margin: 50px 0;
    transition: all .5s;
}

.conteiner .links li a {
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    text-decoration: none;
    font-family: Attack;
    transition: .5s;
}

.conteiner .links li a:hover {
    font-size: 44px;
    transition: .5s;
    
}

.conteiner .links li a.active, .conteiner .links li a:hover {
    color: red;
    transition: 0.3s;
}

#check{ 
    display: none;
}

#check:checked ~ .links{
    height: 100vh;
    background: url(../img/fondoMenu.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 9999;
}

#check:checked ~ .links li {
    display: block;
}

.buttons, label{
    display: flex;
    flex-direction: row;
    margin: 20px;
    gap: 30px;
    color: #fffafa;
    cursor: pointer;
}

.bar-btn {
    cursor: pointer;
}


@media screen and (min-width: 940px) {
    nav{
        height: 100px;
    }
    
    .bar-btn {
        display: none;
    }

    .conteiner .links{ 
        display: flex;
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
        justify-content: center;
        align-items: center;
        gap: 5%;
    }

    .conteiner .links li {
        display: inline-block;
        line-height: 100px;
        transition: none;
        line-height: 0; 
        margin: 0;
        
    }

    .conteiner .links li a {
        font-size: 25px;
    }
}

/* ? nav */



/* ? Section */

section {
    grid-area: section;
    font-family: Arial, sans-serif;
    
}


/* ? carrusel*/
.carrusel-container {
    position: relative;
    height: max-content;
    max-width: 100vw;
    margin: 0 auto;
}
  
  .carrusel {
    display: flex;
    scroll-behavior: smooth;
    transition: transform 0.5s ease-in-out;
}
  
  .carrusel-item {
    flex-shrink: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: inset 3px 3px 3px grey, inset -2px -2px 3px grey, 2px 2px 10px grey, inset -2px -2px 3px grey;
}
  
  .carrusel-item img {
    width: 99%;
    height: 100%;
    padding-left: 1%;
    box-shadow: inset 3px 3px 3px grey, inset -2px -2px 3px grey, 2px 2px 10px grey, inset -2px -2px 3px grey;
}
  
  .carrusel-indicadores {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
  
  .carrusel-indicador {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 10px;
    cursor: pointer;
}
  
  .carrusel-indicador.active {
    background-color: #333;
}

  @media screen and (min-width: 940px) {
    .carrusel-item {
        height: 800px;
    }
}

/* ? carrusel*/

section .destacados {
    width: 100%;
    font-size: 400%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;
}
.texto {
    text-align: center;
    font-size: 20px;
    padding: 5%;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    position: static;
}

.producto {
    width: 20%;
    height: 50%;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
}

.direccion {
    display: flex;
    align-items: center;
    justify-content: center;
}


.direccion a {
    width: 10%;
    height: 9%;
}

.add {
    width: 100%;

    display: flex;
    background-color: cornflowerblue;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.producto img {
	width: 100%;
	object-fit: fill;
	margin-bottom: 10px;
    transition: 1000ms;
}

.producto button {
    margin-top: 3%;
    height: 15%;
    width: 40%;
    background-color: rgb(28, 24, 88);
    color: white;
    border-radius: 4px;
    transition: 1000ms;
    cursor: pointer;
}

.producto button:hover {
    background-color: black;
    height: 18%;
    width: 45%;
}

@media screen and (max-width: 940px) {
    .producto {
        width: 30%;
    }

    .producto button {
        height: 15%;
        width: 50%;
    }

    .producto button:hover {
        background-color: black;
        height: 18%;
        width: 55%;
    }
}

.mostrar {
    width: 19%;
    height: 2%;
    background-color: turquoise;
    border-radius: 5px;
    margin-left: 40%;
    cursor: pointer;
}

/* ? footer */

footer {
    grid-area: footer;
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}

footer .logo{
    width: 250px;
}

footer .logo img {
    width: 100%;
    height: 100%;
}